.content {
  display: flex;

  .favs {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 22rem;
    height: 35rem;

    @include respond-to('small') {
      width: 30rem;
      height: 40rem;
    }
  
    @include respond-to('medium') {
      width: 48rem;
      height: 35rem;
    }

    @include respond-to('large') {
      width: 60rem;
      height: 40rem;
    }

    @include respond-to('x-large') {
      width: 70rem;
      height: 48rem;
    }

    .toggle {
      align-self: flex-end;
      margin-top: 1rem;

      @include respond-to('small') {
        margin: 1rem 0.5rem 0 0;
      }
    }

    .menus {
      display: flex;
      flex-direction: column;
      max-height: 50rem;
      padding: 0.5rem;
      overflow-y: auto;

      @include respond-to('small') {
        padding: 1rem;
      }
   }
  }
}

.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0.5rem;

  .loginHeader {
    color: black;
    padding-bottom: 1rem;
  }

  .md-input-container {
    width: 100%;
  }
}

.md-alert__message {
  max-width: 100%;
}

.md-modal {
  height: auto;
}